{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>

    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/detail.css" %}">
    <script src="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css' %}">
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>

<nav class="navbar navbar-expand-md bg-white fixed-top blog-navbar py-md-0">
    <a class="navbar-brand d-md-none d-lg-block" href="/post_list/pub/">
        <img src="{% static "img/logo.png" %}" alt="MthLearngin">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2">

                <a class="nav-link py-md-3 active" href="/post_list/pub/"><i class="fa fa-home mr-1"></i>首页<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-2">

                <a class="nav-link py-md-3 " href=""><i class="fa fa-sitemap mr-1"></i>归档</a>
            </li>

            <li class="nav-item mr-2">

                <a class="nav-link py-md-3 " href=""><i class="fa fa-balance-scale mr-1"></i>在线工具</a>
            </li>


            <li class="nav-item mr-2 ">

                <a class="nav-link py-md-3 " href=""><i class="fa fa-anchor mr-1"></i>关于</a>
            </li>
            <form class="nav-item navbar-form mr-2 py-md-2" role="search" method="get" id="searchform"
                  action="">
                <div class="input-group">
                    <input type="search" name="q" class="form-control rounded-0 f-15" placeholder="搜索" required=True>
                    <div class="input-group-btn">
                        <button class="btn btn-info rounded-0" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div><!-- /input-group -->
            </form>
        </ul>
        <ul class="navbar-nav">

            <li class="nav-item mr-2">
                <a class="nav-link py-md-3" href="">登录</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-md-3" href="">注册</a>
            </li>

        </ul>
    </div>
</nav>

<!--导航结束-->

<!--消息块-->


<!--回到顶部按钮-->
<div class="text-center" id="to-top">
    <i class="fa fa-chevron-up" id="btn-top" title="回到顶部"></i>
</div>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="content" class="summary-list">
                    {% block content %}
                    {% endblock %}</div>
            </div>
            <div class="col-lg-4">
                {% include 'MTH_BLOG/post/blog_num.html' %}
                {% include 'MTH_BLOG/post/latest_posts.html' %}
                {% get_all_tags %}
                {% get_most_commented_posts_two %}

            </div>
        </div>
    </div>
    </div>
    </div>
</main>
</body>
</html>