{% load staticfiles %}
<!--个人空间-->

<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-none d-lg-block" id="home-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-paper-plane mr-2 f-17"></i>个人空间</strong>
    </div>
    <div class="card-body px-0 pt-3 pb-1">
        <div class="row text-center">
            <div class="col">
                <a href="https://github.com/matenghui6" target="_blank" title="我的github">
                    <img style="max-width:40px" alt="我的github" src="{% static "img/github.png" %}">
                    <p class="mt-2">github</p>
                </a>
            </div>
            <div class="col">
                <a href="https://www.zhihu.com/people/ma-teng-hui/activities" target="_blank" title="我的知乎">
                    <img style="max-width:40px" alt="我的知乎" src="{% static "img/zhihulogo.png" %}">
                    <p class="mt-2">知乎</p>
                </a>
            </div>

        </div>
    </div>
</div>